.con-image img {
    width: 100%;
    height: auto;
    border-radius: 70px;
}

.image-slider {
    max-width: 90%;
    overflow: hidden;
    margin-left: 10%;
}

    .image-slider img {
        width: 85%;
        height: 90vh;
        display: flex;
        align-items: center
    }

.slider-container {
    display: flex;
    overflow: hidden;
}

